html{
    background-color:#333745;
    font-family:calibri;
}

body{
    margin:25px;
}

.regtitle{
    text-align:center;
    background-color:#93b7be;
    font-size:30px;
    font-weight:900;
    font-family: sans-serif;
}

.regbody{
    width:500px;
    background-color:#e2dbbe;
    box-sizing: border-box;
    margin:auto;
    margin-top: 180px;
}

}
.subcontainer{
    font-weight:bold;
    margin:30px 45px;
}

label{
    margin-left:5px;
    font-size:16px;
    font-weight:bold;
    font-family:sans-serif;
}

.form input{
    font-family:inherit;
    font-size: 85%; 
    padding:5px;
    box-sizing:border-box;
    margin:5px;
    border:2px solid #d5d5d5;
    width:100%;
    outline:none;
}

.submit{
    font-weight:bold;
    width:100px;
    margin:auto;
    text-align:center;
    padding:10px;
    cursor:pointer;
}


.footer{
    font-size:11px;
    text-align:center;
    font-weight:700;
    background-color:#93b7be;
    padding:6px;
    margin:auto;
    font-family: sans-serif;
}
